body {
  margin:0;
  padding:0;
}

.container{
  margin-top: 70px;
  border: 1px solid black;
}

.display-2 {
  padding-left:30px;
  padding-top:30px;
}

.IngredientListContainer{
  height:800px;
  overflow-y: auto;
  display: block;
}

.pl-0{
  border-right: 1px solid black;
}

.display-5{
  margin:20px;
  text-align: center;
}

.IngredientList{
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.ingredient-item{
  padding-top:10px;  
}

/* Matched Recipies List */ 
.MatchedRecipiesList{
  list-style-type: none;
  height:800px;
  display:flex;
  justify-content: space-between;
}

/* Matched Item */
.ingredientQuantity {
  list-style-type: none;
  border: 1px dotted black;
}

/* Quantity of Item */
.quantityItems {
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .MatchedRecipiesList {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 992px) {
  .MatchedRecipiesList {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 768px) {
  .IngredientListContainer {
  
  }
}


@media only screen and (min-width: 576px) {
  .IngredientListContainer {
  
  }
}

@media only screen and (max-width: 576px) {
  .IngredientListContainer {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-between;

  }
}