.container{
  margin:100px;
  border-radius: 10px;
}

.display-2 {
  display: flex;
  justify-content: center;
  color: white;
  padding:50px;
  background-color: black;
  border-bottom: 1px solid white;
}

.IngredientListContainer{
  height:700px;
  overflow-y: auto;
  display: block;
  padding-top:10px;
  color:black;
  background-color: white;
}

.display-5{
  text-align: center;
}

.IngredientList{
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.ingredient-item{
  padding-top: 5px;
}



/* Matched Recipies List */ 
.MatchedRecipiesList{
  list-style-type: none;
  height:700px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
  background-color: black;
}

.MatchedItems{
  padding-top:15px;
}

/* Matched Item */
.ingredientQuantity {
  list-style-type: none;

}

/* Quantity of Item */
.quantityItems {
  text-align: center;
}

footer {
  display: block;
  text-align: center;
  padding:10px;
  color:white;
}