.App {
  text-align: center;
}

.container {
  display: flex;
}
.IngredientListContainer{
  border: 1px solid blue;
  width: 400px;
  height:800px;
  overflow-y: scroll;
}
.IngredientList{
  list-style-type: none;

}
.ingredient-item{
  padding:10px
}

